
Noites Amazônicas/Assets/levels/levelproject/level.pak
Noites Amazônicas/Assets/levels/levelproject/terraintexture.pak
Noites Amazônicas/bin/win_x64/Game.dll
Noites Amazônicas/user/shaders/shaderlist.txt
